.gifStore{
    float: left;
    margin: 5px;
}
.game{
    margin: 10px;
}
#add-game {
    margin: 10px 0px 10px 0px;
}
body{
    background-image: url("../images/cybercity3.jpg");
    background-size: 100%;
    background-attachment: fixed;
    color: rgb(26, 103, 103);
    font-family: 'Orbitron', sans-serif;
    

}
h1{
    font-family: 'Orbitron', sans-serif;
    color: rgb(26, 103, 103);
}
